html{
	font-size:4vw;
	line-height:1em;
	font-family:'Helvetica', 'Arial', Sans-serif;
	background-color:black;
	color:white;
}
html[size="xs"]{
	
}
html[size="s"]{
	
}
html[size="m"]{
	
}
html[size="l"]{
	
}
html[size="xl"]{
	
}
body{
	margin:0px;
	padding:0px;
	overflow-x:hidden;
	width:100%;
}
*{
	box-sizing:border-box;
	vertical-align:middle;
}
img{
	max-width:100%;
	height:auto;
}
h1, h2, h3, h4, h5, h6{
	margin:0px;
	padding:0px;
	line-height:.8em;
}
h1, h2, h3, h4, h6{
	text-transform:uppercase;
}
h1, h2, h4, h5, h6{
	color:white;
}
h1, h2{
	font-size:3.1rem;
	line-height:.8em;
}
h2, h4, h5{
	font-weight:lighter;
}
h3, h4, h5{
	padding-right:40px;
}
h2{
	margin:0 0 40px 0;
}
h3{
	color:#e80016;
	font-size:1.3rem;
}
h4{
	font-size:1.3rem;
	margin:8px 0;
}
h5{
	font-size:1rem;
	line-height:1.1em;
	margin:0 0 20px 0;
}
h5 a{
	color:white;
}
h6{
	font-size:1.5em;
	line-height:1.2em;
}
p{
	padding:0;
	margin:0;
}
.clear{
	border:0px none;
	height:0px;
	width:100%;
	margin:0px;
	padding:0px;
	clear:both;
	float:none;
}
#countdown{
	background-color:#e80016;
	color:white;
	text-transform:uppercase;
	width:100%;
	height: 70px;
	line-height: 70px;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
}
#countdown span{
	vertical-align:top;
}
#header{
	padding:40px 20px;
}
html #tile-container{
	text-align:center;
}
html[size="xs"] #tile-container{
	padding:15px;
}
.tile.home-tile{
	position:relative;
	margin-bottom:20px;
	text-align:left;
	border:5px solid black;
}
.tile.home-tile .image-wrap{
	overflow:hidden;
	position:relative;
}
.tile.home-tile .image-wrap .share-pinterest{
	cursor:pointer;
	position:absolute;
	top:10px;
	right:10px;
	z-index:1;
	width:12%;
}
.tile.home-tile .image-wrap img.product-image{
	margin:0;
	padding:0;
	position:relative;
	z-index:0;
	width:100%;
}
.tile.home-tile .copy-wrap{
	width:100%;
	background-color:white;
	color:black;
	padding:20px;
}
.tile.home-tile .copy-wrap p{
	font-size:1em;
	line-height:1.1em;
}
.tile.home-tile .copy-wrap p.line-1,
.tile.home-tile .copy-wrap p.line-2{
	color:#e80016;
	font-weight:bold;
	text-transform:uppercase;
}
.tile.home-tile .copy-wrap p.line-2{
	font-size:2.5em;
	line-height:1em;
}
#copy{
	padding:40px;
	color:#cccccc;
	font-size:.8em;
	line-height:1.25em;
	font-weight:lighter;
}
#copy p{
	margin:0 0 20px 0;
}


/*	CIRCLES (Ernest)	*/
.circle {
	width: 30%;
    height: 0px;
    z-index: 1;
    text-align: center;
    padding: 35px 0 24% 0;
    background: red;
    position: absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.circle:before {
	content: "";
    position: absolute;
    border: 10px solid transparent;
    border-left: 25px solid red;
    width: 0;
    height: 0;
}

#tile-container .circle .line-1 {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: bold;
	padding-top:10%;
}

#tile-container .circle .line-2 {
    font-size: 1.5rem;
    line-height: .9em;
    text-transform: uppercase;
    font-weight: bold;
}

#tile-container [fob="women"] .circle {
    top: 280px;
    left: 50px;
}

#tile-container [fob="women"] .circle:before {
    left: 160px;
    top: 25px;
    -ms-transform: rotate(-32deg);
    -webkit-transform: rotate(-32deg);
    transform: rotate(-32deg);}

#tile-container [fob="shoes"] .circle {
	top: 170px;
    left: 10px;
}

#tile-container [fob="shoes"] .circle:before {
	left: 167px;
	top: 114px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#tile-container [fob="juniors"] .circle {
	top: 220px;
    left: 20px;
}

#tile-container [fob="juniors"] .circle:before {
    left: 158px;
    top: 20px;
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

#tile-container [fob="forthehome"] .circle {
    top: 180px;
    left: 40px;
}

#tile-container [fob="forthehome"] .circle:before {
	left: 150px;
	top: 10px;
    -ms-transform: rotate(-32deg);
    -webkit-transform: rotate(-32deg);
    transform: rotate(-32deg);
}

#tile-container [fob="bedandbath"] .circle {
	top: 170px;
    left: 230px;
}

#tile-container [fob="bedandbath"] .circle:before {
    left: -26px;
    top: 95px;
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
}



/* tile size by body[size] */

html[size="xs"] .tile.home-tile{
	width:100%;
	max-width:600px;
}
html[size="s"] .tile.home-tile{
	width:calc(50%);
}
html[size="m"] .tile.home-tile{
	width:calc(33%);
	width:33.333%;
}
html[size="l"] .tile.home-tile{
	width:calc(25%);
	width:25%;
}
html[size="xl"] .tile.home-tile{
	width:calc(20%);
	width:20%;
}

html[size="s"] h6{
	font-size:.8rem;
}
html[size="s"] .tile.home-tile[tall="true"]{
	height:;
}
html[size="s"] .tile.home-tile .copy-wrap p{
	font-size:.5rem;
	line-height:1.1em;
}
html[size="s"] .tile.home-tile .copy-wrap {
	height:163px;
}
html[size="s"] .tile.home-tile .copy-wrap p.line-2 {
    font-size: 1.5em;
    line-height: 1em;
}
html[size="s"] #tile-container .circle .line-1 {
    font-size: .45rem;
    text-transform: uppercase;
    font-weight: bold;
	padding-top:0%;
}
html[size="s"] #tile-container .circle .line-2 {
	font-size: .8rem;
	line-height: .4em;
    text-transform: uppercase;
    font-weight: bold;
}


html[size="m"] h6{
	font-size:.5rem;
}
html[size="m"] .tile.home-tile[tall="true"]{
	height:;
}
html[size="m"] .tile.home-tile .copy-wrap p{
	font-size:.35rem;
	line-height:1.1em;
}
html[size="m"] .tile.home-tile .copy-wrap {
	height:163px;
}
html[size="m"] .tile.home-tile .copy-wrap p.line-2 {
    font-size: .9em;
    line-height: 1em;
}
html[size="m"] #tile-container .circle .line-1 {
    font-size: .45rem;
    text-transform: uppercase;
    font-weight: bold;
	padding-top:0%;
}
html[size="m"] #tile-container .circle .line-2 {
	font-size: .8rem;
	line-height: .4em;
    text-transform: uppercase;
    font-weight: bold;
}

html[size="l"] h6{
	font-size:.4rem;
}
html[size="l"] .tile.home-tile[tall="true"]{
	height:;
}
html[size="l"] .tile.home-tile .copy-wrap p{
	font-size:.3rem;
	line-height:1.1em;
}
html[size="l"] .tile.home-tile .copy-wrap {
	height:163px;
}
html[size="l"] .tile.home-tile .copy-wrap p.line-2 {
    font-size: .7em;
    line-height: 1em;
}
html[size="l"] #tile-container .circle .line-1 {
    font-size: .45rem;
    text-transform: uppercase;
    font-weight: bold;
	padding-top:0%;
}
html[size="l"] #tile-container .circle .line-2 {
	font-size: .8rem;
	line-height: .4em;
    text-transform: uppercase;
    font-weight: bold;
}

html[size="xl"] h6{
	font-size:.3rem;
}
html[size="xl"] .tile.home-tile[tall="true"]{
	height:;
}
html[size="xl"] .tile.home-tile .copy-wrap p{
	font-size:.25rem;
	line-height:1.1em;
}
html[size="xl"] .tile.home-tile .copy-wrap {
	height:163px;
}
html[size="xl"] .tile.home-tile .copy-wrap p.line-2 {
    font-size: .55em;
    line-height: 1em;
}
html[size="xl"] #tile-container .circle .line-1 {
    font-size: .45rem;
    text-transform: uppercase;
    font-weight: bold;
	padding-top:0%;
}
html[size="xl"] #tile-container .circle .line-2 {
	font-size: .8rem;
	line-height: .4em;
    text-transform: uppercase;
    font-weight: bold;
}



html[size="xs"] .product-image.mobile-image{
	display:block;
}
html[size="s"] .product-image.mobile-image,
html[size="m"] .product-image.mobile-image,
html[size="l"] .product-image.mobile-image,
html[size="xl"] .product-image.mobile-image{
	display:none;
}
html[size="xs"] .product-image.desktop-image{
	display:none;
}
html[size="s"] .product-image.desktop-image,
html[size="m"] .product-image.desktop-image,
html[size="l"] .product-image.desktop-image,
html[size="xl"] .product-image.desktop-image{
	display:block;
}