.popup.closed {
  display: none;
}
.popup-overlay.closed {
  display: none;
}

.UserList .__clicked .lockedCheckbox {
  display: block;
}
.UserList .__clicked .targetProperty {
  display: none;
}
.UserList .lockedCheckbox {
  display: none;
}
.UserList .lead {
  min-width: 100px;
}
